.in-game {
    background: url('/assets/bg.jpg');
    height: 600px;
    width: 400px;
    margin: 0 auto;
}
.deck {
    position: absolute;
    opacity: 0;
}
.deck-holder {
    width: 120px;
    height: 140px;
    position: relative;
    overflow: hidden;
}
.deck-holder .lower-deck-holder {
    position: absolute;
    background: url('/assets/deck-holder/lower-deck-holder.png');
    width: 119px;
    height: 137px;
}
.deck-holder .card-deck {
    position: absolute;
    background: url('/assets/deck-holder/card-deck.png');
    width: 85px;
    height: 97px;
    top: 26px;
    left: 10px;
}
.deck-holder .upper-deck-holder {
    position: absolute;
    background: url('/assets/deck-holder/upper-deck-holder.png');
    width: 112px;
    height: 119px;
    top: 6px;
    left: 4px;
}
.game-info {
    color: rgba(255, 255, 255, 0.52);
    display: block;
    margin: 0 auto;
    position: relative;
}
.game-info .title {
    font-size: 35px;
    text-align: center;
}
.game-info .tie-info {
    font-size: 15px;
    text-align: center;
}
.game-info .time {
    position: absolute;
    left: 12px;
    color: white;
    font-size: 20px;
    top: 9px;
}
.game-info .lock {
    position: absolute;
    left: 12px;
    color: white;
    font-size: 20px;
    top: 28px;
}
.game-info .balance {
    position: absolute;
    left: 12px;
    color: white;
    font-size: 20px;
    top: 9px;
}
.table {
    /* padding-top: 40px; */
}
.card-layer {
    height: 150px;
    position: relative;
    padding-top: 35px;
}
.chip-1 {
    width: 30px;
    height: 30px;
    background: url('/assets/chips/chip-1.png');
    position: absolute;
}
.chip-25 {
    width: 30px;
    height: 30px;
    background: url('/assets/chips/chip-25.png');
    position: absolute;
}
.chip-50 {
    width: 30px;
    height: 30px;
    background: url('/assets/chips/chip-50.png');
    position: absolute;
}
.chip-100 {
    width: 30px;
    height: 30px;
    background: url('/assets/chips/chip-100.png');
    position: absolute;
}
.clear-btn {
    position: absolute;
    left: 10px;
    top: 61px;
}
.player-cards {
    width: 49%;
    height: 100%;
    display: inline-block;
    border-right: 2px solid rgba(0, 0, 0, 0.66);
    border-top: 2px solid rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
    position: relative;
}
.banker-cards {
    width: 49%;
    height: 100%;
    display: inline-block;
    border-left: 2px solid rgba(0, 0, 0, 0.66);
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    border-top: 2px solid rgba(0, 0, 0, 0.3);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
}
.player-poker {
    background: url('/assets/poker/poker.png') no-repeat;
    background-position: 0 0;
    width: 276px;
    height: 391px;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    position: absolute;
    top: -120px;
    left: -83px;
}
.back-card-poker {
    background: url('/assets/poker/back-card.png') no-repeat;
    background-position: 0 0;
    width: 276px;
    height: 391px;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    position: absolute;
    top: -120px;
    left: -83px;
}
.banker-poker {
    background: url('/assets/poker/poker.png') no-repeat;
    background-position: 0 0;
    width: 276px;
    height: 391px;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    position: absolute;
    top: -120px;
    left: -83px;
}
.name {
    top: -24%;
    left: 19%;
    position: absolute;
    color: rgba(255, 255, 255, 0.52);
    font-size: 26px;
}
.bet {
    position: relative;
    padding: 30px 0 30px 0;
    border-bottom: 5px solid rgba(0, 0, 0, 0.52);
    width: 330px;
    margin: 0 auto;
    border-radius: 100px;
    color: white;
    cursor: pointer;
    height: 22px;
}
.bet span {
    position: absolute;
    right: 15px;
    bottom: 10px;
    text-align: right;
}
.win-flag {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 30px;
    font-weight: 800;
    color: orange;
}
.place-bet-tool-tip {
    position: absolute;
    left: 19px;
    width: 150px;
    top: 53px;
    color: rgba(255, 255 ,255, 0.3);
}
.controls {
    text-align: center;
    margin: 0 auto;
    position: relative;
}
.bet-amount {
    position: absolute;
    right: 10px;
    top: 20px;
    font-size: 20px;
    color: white;
}
.wallet {
    position: absolute;
    right: 10px;
    top: 50px;
    font-size: 20px;
    color: white;
}
.chips {
    position: absolute;
    transform: scale(1.5);
    left: 40px;
    top: 16px;
}

.chips * {
    width: 29px;
    height: 30px;
    position: relative;
    cursor: pointer;
    margin-right: 5px;
}
.chips * span{
    color: white;
    font-size: 12px;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 4px;
    left: -1px;
}
.chip-btn-1 {
    background: url('/assets/chips/chip-1.png');
    display: inline-block;
}
.chip-btn-25 {
    background: url('/assets/chips/chip-25.png');
    display: inline-block;
}
.chip-btn-50 {
    background: url('/assets/chips/chip-50.png');
    display: inline-block;
}
.chip-btn-100 {
    background: url('/assets/chips/chip-100.png');
    display: inline-block;
}
.blocker {
    width: 400px;
    background: rgba(0, 0, 0, 0.4);
    height: 600px;
    position: absolute;
    overflow: hidden;
    z-index: 9999;
    pointer-events: all;
}